@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-dots {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
  } */


  .customDot {
    width: 10px;
    height: 10px;
    background-color: rgb(169, 169, 169);
    border-radius: 50%;
    margin-top: 0.1rem;
    transition: background-color 0.3s ease;
    text-align: center;
}

.lg-moveup-cptraining{
  transform: translateY(-9%);
}

.lg-moveup-consulting{
  transform: translateY(-7%);
}

/* .heroMobileHeight{
  border-radius: 1000px;
} */

.borderRadiusImg{
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.heroImageDiv{
  border-radius: 30px;
}

.lg-moveup-contact{
  transform: translateY(-34%);
  margin-bottom: -10rem;
}

.heroMobileHeightContact{
  transform: translateY(-27%);
}


.blackBg {
  background-color: black;
}

.heroImageDiv{
    height: 31rem;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainBigAppDiv{
  font-family: 'Montserrat-classic', sans-serif;
}

.headingText{
  transform: translateX(26%);
}

.lg-moveup-About{
  transform: translateY(12%);
  margin-bottom:5rem;
}

@media (min-width:1300px) {
  .head-text{
    font-size: 50px;
    line-height: 4rem;
  }

  .faqMoveUp{
    transform: translateY(-20%);
  }

  .lg-moveup-About{
    transform: translateY(15%);
    margin-bottom:8rem;
  }

  .lg-moveup-consulting{
    transform: translateY(-10%);
  }

  .lg-moveup-cptraining{
    transform: translateY(-9%);
  }

  .lg-moveup-contact{
    transform: translateY(-60%);
    margin-bottom: -19rem;
  }

  .aboutusImg{
    width: 500px;
    height:500px;
  }

  .aboutUstext{
    font-size: 20px;
  }

  .heroImageDiv{
    height: 53rem;
}

.bigScreenPadding{
  padding-left: 8rem;
  padding-right: 8rem;
}

}

@media (max-width:768px) {
  
  .heroMobileHeight{
    height:24rem;
    border-radius: 50px;
  }
  
  .emailForMobileFooter{
    transform: translate(0,0);
  }
  
  .head-text{
    font-size: 24px;
    width: auto;
  }

  .aboutUsImgDiv{
    transform: translateY(-13%);
  }

  .aboutusImg{
    width: 300px;
    height:300px;
  }

  .headingText{
    transform: translate(1%,-20%);
    margin-left: 1rem;
    padding:10px;
  }

  .headingTextTraining{
    transform: translateX(10%);
  }

  .border-small{
    border: none;
  }

  .productHeading{
    font-size: 30px;
  }

  .productSubHeading{
    font-size: 16px;
  }

  .productSolutions{
    margin-top: 2rem;
  }

  .educationIntro{
    padding: 0;
  }

  .BlockChainServiceCard{
    margin-top:0rem;
  }

  .contactUsFooter{
    margin-left: 0;
  }

  .lg-moveup-contact{
    transform: translateY(-18%);
  }

  .heroImageDiv{
    height: 24rem;
}

.smallScreenFont{
  font-size: 10px;
  padding: 4px;
}

.smallScreenWidth{
  padding: 10;
  width:95%;
}

  .lg-moveup-About{
  transform: translateY(5%);
}

.lg-moveup-cptraining{
  transform: translateY(-2%);
}

.lg-moveup-consulting{
  transform: translateY(-1%);
}

.portFolioHeadingMobileFont{
  font-size: 18px;
  line-height: 25px;
}

.portFolioSubHeadingMobileFont{
  font-size: 12px;
  line-height: 20px;
}

.portFolioPointsMobileFont{
  font-size: 11px;
  line-height: 15px;
}

.trainingHeadingMobileFont{
  font-size:30px;
}

.trainingSubHeadingMobileFont{
  font-size:15px;
}

.serviceHeadingMobileFont{
  font-size: 30px;
}
.bannerFontMobile{
  font-size: 10px;
}
}



.customDot:hover,
.customDot.active {
    background-color: rgb(135, 206, 235);
}
  