@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-dots {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
  } */


  .customDot {
    width: 10px;
    height: 10px;
    background-color: rgb(169, 169, 169);
    border-radius: 50%;
    margin-top: 0.1rem;
    transition: background-color 0.3s ease;
    text-align: center;
}

.lg-moveup-contact{
  transform: translateY(-34%);
  margin-bottom: -10rem;
}

.heroMobileHeightContact{
  transform: translateY(-27%);
}


.blackBg {
  background-color: black;
}

.mainBigAppDiv{
  font-family: 'Montserrat-classic', sans-serif;
}

.headingText{
  transform: translateX(26%);
}

@media (min-width:1300px) {
  .head-text{
    font-size: 50px;
    line-height: 4rem;
  }

  .faqMoveUp{
    transform: translateY(-20%);
  }

  .lg-moveup-About{
    transform: translateY(-10%);
  }

  .lg-moveup-consulting{
    transform: translateY(-10%);
  }

  .lg-moveup-cptraining{
    transform: translateY(-9%);
  }

  .lg-moveup-contact{
    transform: translateY(-60%);
    margin-bottom: -19rem;
  }

  .aboutusImg{
    width: 500px;
    height:500px;
  }

  .aboutUstext{
    font-size: 20px;
  }

}

@media (max-width:768px) {
  
  .heroMobileHeight{
    height:24rem;
  }
  
  .emailForMobileFooter{
    transform: translate(0,0);
  }
  
  .head-text{
    font-size: 24px;
    width: auto;
  }

  .aboutUsImgDiv{
    transform: translateY(-13%);
  }

  .aboutusImg{
    width: 300px;
    height:300px;
  }

  .headingText{
    transform: translate(-2%,-20%);
    margin-left: 0.7rem;
    padding:10px;
  }

  .border-small{
    border: none;
  }

  .productHeading{
    font-size: 30px;
  }

  .productSubHeading{
    font-size: 16px;
  }

  .productSolutions{
    margin-top: 2rem;
  }

  .educationIntro{
    padding: 0;
  }

  .BlockChainServiceCard{
    margin-top:0rem;
  }

  .contactUsFooter{
    margin-left: 0;
  }

  .lg-moveup-contact{
    transform: translateY(-18%);
  }
}



.customDot:hover,
.customDot.active {
    background-color: rgb(135, 206, 235);
}
  