@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-dots {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
  } */

  .customDot {
    width: 10px;
    height: 10px;
    background-color: rgb(169, 169, 169);
    border-radius: 50%;
    margin-top: 0.1rem;
    transition: background-color 0.3s ease;
    text-align: center;
}

.mainBigAppDiv{
  font-family: 'Montserrat-classic', sans-serif;
}

.headingText{
  transform: translateX(26%);
}

@media (min-width:1300px) {
  .head-text{
    font-size: 50px;
    line-height: 4rem;
  }

  .faqMoveUp{
    transform: translateY(-20%);
  }

  .lg-moveup-About{
    transform: translateY(-10%);
  }

  .lg-moveup-consulting{
    transform: translateY(-10%);
  }

  .lg-moveup-cptraining{
    transform: translateY(-9%);
  }

  .lg-moveup-contact{
    transform: translateY(-17%);
  }

  .aboutusImg{
    width: 500px;
    height:500px;
  }

  .aboutUstext{
    font-size: 20px;
  }
}

@media (max-width:768px) {
  .head-text{
    font-size: 32px;
  }

  .headingText{
    transform: translateX(-2%);
  }

  .border-small{
    border: none;
  }
}



.customDot:hover,
.customDot.active {
    background-color: rgb(135, 206, 235);
}
  